{% extends "base_usuario.html" %}

{% block body %}

    <form action="{% url 'login' %}" method="post" class="form-signin" role="form">
        {% csrf_token %}
        <h2 class="form-signin-heading">Login</h2>
        <input type="text" id="id_username" name="username" class="form-control" placeholder="Nome" required autofocus>
        <input type="password" id="id_password" name="password" class="form-control" placeholder="Senha" required>
        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">Login</button>
        <input type="hidden" name="text" value="{{ next }}">

        {% if form.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                Por favor, verifique o email e/ou senha informados
            </div>
        {% endif %}
        <a href="{% url 'registrar' %}">Registre-se</a>
    </form>
{% endblock %}